{% extends "blog/base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
<div class="container">                
    <div class="contentbar">                
            <!-- Start row -->
            <div class="row">
                <!-- Start col -->
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5 class="card-title">Cart</h5>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-lg-20 col-xl-20">
                                    <div class="cart-container">
                                        <div class="cart-head">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Action</th>                                               
                                                            <th scope="col">Photo</th>
                                                            <th scope="col">Product</th>
                                                            <th scope="col">Qty</th>
                                                            <th scope="col">Price</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td><a href="#" class="text-danger"><i class="ri-delete-bin-3-line"></i></a></td>
                                                            <td><img src="https://maplestory.io/api/GMS/224/item/1702565/icon" class="img-fluid" width="35" alt="product"></td>
                                                            <td>Death's Scythe</td>
                                                            <td>
                                                                <div class="form-group mb-0">
                                                                    <input type="number" class="form-control cart-qty" name="cartQty1" id="cartQty1" value="1">
                                                                </div>
                                                            </td>
                                                            <td>6,400 NX</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                           <td><a href="#" class="text-danger"><i class="ri-delete-bin-3-line"></i></a></td>
                                                            <td><img src="https://maplestory.io/api/GMS/224/item/1102801/icon" class="img-fluid" width="35" alt="product"></td>
                                                            <td>Silver Wolf Cape</td>
                                                            <td>
                                                                <div class="form-group mb-0">
                                                                    <input type="number" class="form-control cart-qty" name="cartQty2" id="cartQty2" value="1">
                                                                </div>
                                                            </td>
                                                            <td>3,200 NX</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td><a href="#" class="text-danger"><i class="ri-delete-bin-3-line"></i></a></td>
                                                            <td><img src="https://maplestory.io/api/GMS/224/item/1004503/icon" class="img-fluid" width="35" alt="product"></td>
                                                            <td>Cat Hood</td>
                                                            <td>
                                                                <div class="form-group mb-0">
                                                                    <input type="number" class="form-control cart-qty" name="cartQty3" id="cartQty3" value="1">
                                                                </div>
                                                            </td>
                                                            <td>4,800 NX</td>
                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                        <div class="cart-footer text-right">
                                            <a href="{% url 'cash_shop' %}">
                                                <button type="button" class="btn btn-info my-1"><i class="ri-save-line mr-2"></i>Back to Cash Shop</button>
                                            </a>
                                            <a href="{% url 'checkout' %}" class="btn btn-success my-1">Proceed to Checkout<i class="ri-arrow-right-line ml-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col -->
            </div>
            <!-- End row -->
        </div>
        </div>
        <style>
            body { 
              background-image: url('https://wallpaperaccess.com/full/1251663.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
              overflow-y: scroll;
            }
        </style>
{% endblock content %}
